#decOutput{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0.2%;
    margin: 1% 1% 1% 10%;
    width: 25%;
    color: gray;
    text-align: center;
}

#mainNav{
    height: 55px;
}

#binInput{
    width: 35%;
    margin: 1%;
}

#mainCard{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
}